<div class="row justify-content-center align-items-center p-16" style="font-family: 'Fira Code', Courier, monospace;">
  <div class="col-lg-5 col-md-6 text-center mt-4">
    <!-- Headline Name -->
    <h3 class="wow animated bounceInDown" data-wow-delay=".1s">Kanak Das</h3>
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}"
             alt="{{ site.title }}"
             class="circle-image wow animated bounceInUp"
             data-wow-delay=".1s"
             style="max-width:220px; max-height:220px;" />
      </div>
    </div>
    <p class="text-muted wow animated slideInLeft" data-wow-delay=".15s">
      PhD student at
      the University of California, Riverside, 
      being advised by Professor
      <a href="https://manu.sridharan.net/" style="color: #2C3236FF; text-decoration: none;">
        Manu Sridharan</a>.<br>
      My research is in the area of Programming Languages, Trustworthy AI, and Software Engineering.
    </p>

    <p class="text-muted wow animated slideInRight" data-wow-delay=".15s">
      Before this, I worked as a Software Engineer at
      <a href="https://www.openrefactory.com/" style="color: #2C3236FF; text-decoration: none;">
        OpenRefactory, Inc.</a> for a couple years.
      I'll be at <span style="color: #2C3236FF; text-decoration: none;">AWS</span> in summer 2025 as an Applied Scientist Intern.
    </p>
    <p class="text-muted wow animated slideInLeft" data-wow-delay=".15s">
      <a href="assets/KanakDas.pdf" target="_blank" style="color: #2C3236FF; text-decoration: none; font-size: 1.1rem;">
        My Resume
      </a>
    </p>
  </div>
</div>
