<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated bounceInUp" data-wow-delay=".1s">
      </div>
    </div>
    <p class="text-muted wow animated slideInLeft" data-wow-delay=".15s">
  
      PhD student at the University of California, Riverside, being advised by Professor <a href="https://manu.sridharan.net/">Manu Sridharan</a>.
      My research is in the area of Programming Languages, Trustworthy AI, and Software Engineering.
    </p>

     <p class="text-muted wow animated slideInRight" data-wow-delay=".15s">
      Before this, I worked as a Software Engineer at <a href="https://www.openrefactory.com/">OpenRefactory, Inc.</a> for a couple years. 
      I'll be at <b>AWS</b> in summer 2025 as an Applied Scientist Intern.
    <p class="text-muted wow animated slideInLeft" data-wow-delay=".15s">
      My <a href="assets/KanakDas.pdf" target="_blank">Resume</a>
    </p>
