<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">
  
      I am a PhD student at the University of California, Riverside.
      My research is in the area of Programming Languages and Software Engineering.
      I am being advised by Professor <a href="https://manu.sridharan.net/">Manu Sridharan</a>.
    </p>
  </div>

  
</div>