<div class="col mt-4">

  <div class="timeline-body">
    {% for item in site.data.timeline %}
    <div class="timeline-item">
      <div class="content">
        <h4>{{ item.title }}</h4>
        <h4>{{ item.subtitle }}</h4>
        <h5>{{ item.sub-subtitle }}</h5>
        <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
        <p>{{ item.description }}</p>
      </div>
    </div>
    {% endfor %}
    <div class="timeline-item">
      <div class="content">
        <h4>Honors</h4>
        <h5>Champion,<br>Bangladesh Chemistry Olympiad</h5>
        <h6 class="date">2014</h6>
        <h5>Bangladesh Education Board Scholarship</h5>
        <h6 class="date">2006, 2009, 2012, 2014</h6>
      </div>
    </div>
  </div>

</div>